* {
  margin: 0;
  padding: 0;
  background-color: rgb(34, 35, 57);
}

body {
  color: aliceblue;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
